:root {
    --color-dash-daypass-brand: #1E75BB;
    --color-dash-daypass-bg: rgba(255, 255, 255, 0.9);
    --color-dash-daypass-bg-50:rgba(255, 255, 255, 0.8);
    --color-dash-daypass-shadow: #f4f4f4;
    --color-dash-daypass-text: #000;
    --color-dash-daypass-text-secondary: #999;
    --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --hover-brightness: 1.2;
    --line-height: 1.5;

    --bg-elevation-1:rgba(0,0,0,0.03);
    --shadow-elevation-1:rgba(0,0,0,0.1);

    --qr-brightness: brightness(0.98);
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-dash-daypass-bg: rgba(51, 51, 51, 0.9);
        --color-dash-daypass-bg-50:rgba(51, 51, 51, 0.8);
        --color-dash-daypass-shadow: #bbbbbb20;
        --color-dash-daypass-text: #f7f7f7;
        --color-dash-daypass-text-secondary: #aaa;

        --bg-elevation-1:rgba(255,255,255,0.02);
        --shadow-elevation-1:rgba(0,0,0,0.12);

        --qr-brightness: brightness(0.9);
    }
}
dash-daypass{
  /* box-sizing: border-box;
  position: absolute; */
  background-color: rgba(0,0,0,0);
  /* top:0; */
  height: 100%;
  width: 100%;
  font-size: 1.0em;
}
/* .dash-daypass_gradient{
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 95%;
  max-height: 90%;
  background-color: var(--color-dash-daypass-bg);
  background: linear-gradient(to top,  var(--color-dash-daypass-bg) 95%, var(--color-dash-daypass-bg-50) 100%);
} */
.dash-daypass_body{
  /* position: absolute; */
  /* bottom: 0px; */
  /* left: 0px; */
  width: 100%;
  /* height: 80%; */
  background-color: var(--color-dash-daypass-bg);
  color: var(--color-dash-daypass-text);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dash-daypass-center{
  text-align: center;
}
.dash-daypass-plans-container{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  overflow-x: scroll;
  /* flex-wrap: wrap; */
}
.dash-daypass-plan{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 20px 1rem;
  padding: 5px;
  background-color: var(--bg-elevation-1);
  box-shadow: var(--box-shadow) var(--shadow-elevation-1);
  width:min-content;
}
.dash-daypass-plan p {
  text-align: center;
  margin: 0;
}
.dash-daypass a {
  font-weight: 500;
}
.dash-daypass-plan h3 {
  text-align: center;
  margin: 0;
  font-size: 1.4em;
}
.dash-daypass_QR-wrapper{
  width:100%;
  display: flex;
  justify-content: center;
}
.dash-daypass_QR{
  margin: 1em;
  min-width: 250px;
  filter: var(--qr-brightness);
}
.dash-daypass_QR svg {
  width: 100%;
}

.dash-daypass small {
    color: var(--color-dash-daypass-text-secondary);
}
.dash-daypass_QR-unhide-button{
  display:none;
}

.dash-daypass_payment{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
dash-daypass button {
  width: 1.8em;
  height: 1.8em;
  margin: 0 0.5em 0.5em 0.7em;
  padding: 0.2em;
  background-color: var(--color-dash-daypass-bg);
  color: var(--color-dash-daypass-text);
  opacity: 0.7;
  border: solid 0.1em var(--color-dash-daypass-text);
}


@media screen and (max-width: 1000px){
  dash-daypass{
    font-size: 1.5em;
  }
  .dash-daypass-plans-container{
    flex-direction: column;
    align-items: center;
  }
  .dash-daypass-plan{
    width: 90%;
  }

  dash-daypass a {
    font-size: 3.5vw;
  }

  .dash-daypass_QR-unhide-button{
    display: flex;
    align-items: center;
    width:fit-content;
    padding: 0.4em 0.8em;
    font-size: 1.4em;
    border: solid 0.1em var(--color-dash-daypass-brand);
    border-radius: 0.7em;

  }
  .dash-daypass_dashlogo{
    display: inline-block;
    height: 1.2em;
  }
  .dash-daypass_QR{
    display:none;
  }
  .dash-daypass_QR-wrapper{
    width:fit-content;
  }
  .dash-daypass_QR-wrapper:hover .dash-daypass_QR-unhide-button{
    display: none;
  }
  .dash-daypass_QR-wrapper:hover .dash-daypass_QR{
    display: inherit;
  }

  .dash-daypass_payment{
    align-items: flex-start;
  }
}